/* common styles */
/* To remove the default padding and margin set by the browser */
* {
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #303a49;
	font-family: Georgia;
}

/* common styles end */

/* calculator style */
.calculator {
	width: 300px;
	padding-bottom: 15px;
	border-radius: 7px;
	background-color: rgb(20, 19, 19);
	box-shadow: 5px 8px 8px -2px rgba(20, 20, 20, 0.61);
}
/* calculator style end */

/* display style */
.display {
	width: 100%;
	height: 80px;
	border: none;
	box-sizing: border-box;
	padding: 10px;
	font-size: 2rem;
	background-color: #a3d320;
	color: #000;
	text-align: right;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

/* display style end */

/* row */
.row {
	display: flex;
	justify-content: space-between;
}
/* row style end */

/* button */
button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	outline: none;
	font-size: 1.5rem;
	background-color: #222;
	color: rgb(231, 212, 212);
	margin: 10px;
}

button:hover {
	cursor: pointer;
}

/* button style end */

/* operator */
.operator {
	background-color: #1ec4da;
	color: #000;
}

/* operator style end */
